.feed-container {
    background-color: #2f3740;
    border-radius: 10px;
    margin: 10px;
    margin-left: 18%;
    max-width: 600px;
    word-wrap: break-word;
}

.profile-info-container {
    background-color: blue;
    padding: 7px;
}

.profile-info-top {
    display: flex;
}

.profile-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-name-container {
    text-align: center;
    justify-content: center;
    align-items:flex-end;
    margin: 10px;
}

.profile-name {
    font-size: 24px;
    font-weight: bolder;
}

.profile-info-middle {
    padding: 7px;

}

.profile-about-text {
    font-weight: bold;
}

.profile-info-bottom {
    display: flex;
    font-size: 16px;
    padding: 7px;
}

.profile-info {
    margin-right: 7px;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: silver;
}