.share-container {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid;
}

.share-wrapper {
    padding: 1rem;
}

.share-top {
    display: flex;
}

.share-profile-img {
    margin-right: 10px;
    object-fit: cover;
}

.share-input {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    width: 100%;
    resize: none;
}

.share-input:focus {
    outline: none;
}

.share-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.share-options {
    display: flex;
    align-items: center;
}

.share-btn {
    border:none;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline:none;
}

.share-btn:hover {
    color: purple;
}

.share-img {
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem;
}

.share-img:hover {
    background-color: #272729;
    border-radius: 5px;
}
