.watchlist-container {
    background-color: #2f3740;
    overflow-y: scroll;
    height: 50vh;
    width: 14%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    color: white;
}

.watchlist-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#watchlist-search {
    width: 100%;
    height: 1rem;
}

.watchlist-search-icon {
    color: white;
}

.watchlist-trash-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchlist-trash-container:hover {
    background-color: silver;
}

.watchlist-card-delete {
    width: 2rem;
    height: 2rem;
}

.watchlist-card-delete:hover {
    color: red;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}