

.edit-profile-modal-container {
    background-color: black;
    border-radius: 15px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 40%;
    z-index: 1;
}

.edit-profile-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.edit-profile-modal-close {
    cursor: pointer;
}

.edit-profile-modal-close:hover {
    color: purple;
}

.edit-profile-modal-text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 1rem;
}

.edit-profile-modal-save {
    background-color: silver;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
}

.edit-profile-modal-save:hover {
    background-color: grey;
}

.edit-profile-modal-avatar {
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 1rem;
}

.edit-profile-modal-avatar-container {
    display: flex;
    align-items: center;
}

.edit-profile-modal-avatar-label {
    position: absolute;
}

.edit-profile-modal-avatar-add {
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    color: silver;
    background-color: black;
    padding: 0.6rem;
}

.edit-profile-modal-avatar-add:hover {
    background-color: silver;
}

.edit-profile-modal-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.edit-profile-modal-bio-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: silver;
    border: solid;
    border-width: thin;
    border-radius: 3px;
    margin: 0 auto;
    width: 90%;
    height: 40%;
    padding: 0.6rem;
}

.edit-profile-modal-bio-container:focus-within {
    color: purple;
}

.edit-profile-modal-bio-input {
    background-color: transparent;
    border: none;
    height: 5rem;
    resize: none;
    font-size: 18px;
}

.edit-profile-modal-bio-input:focus {
    outline: 0;
}

.edit-profile-modal-close-container {
    display: flex;
    align-items: center;
}

.edit-profile-img-container {
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 1rem;
}

.avatar-img {
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 1rem;
}
