/* .logo-container {
    display: flex;
    align-items: center;
    padding: 7px;
    width: 8%;
    justify-content: space-between;
}

.logo-container a:link, a:visited {
    font-size: 18px;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.logo-container a:hover {
    color: white;
} */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3740;
    height: 8%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navbar-right {
    display: flex;
    position: absolute;
    right: 0;
}

.menu-container {
    display: flex;
    align-items: center;
    padding: 7px;
}

.menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a:link, a:visited{
    color: rgb(228, 228, 228);
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.menu-item a:hover {
    color: white;
}

.menu-search-icon {
    padding: 7px;
}

.navbar-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262d37;
    padding: 7px;
    border-radius: 8px;
}

/* .menu-item-chat {
    margin: 10px;
}

.navbar-notification {
    margin: 10px;
} */

.searchInput {
    border-radius: 5px;
    background-color: #262d37;
    border: none;
    outline: none;
    width: 600px;
    height: 1rem;
    font-weight: bold;
    font-size: 1rem;
}