/* .logo-container {
    display: flex;
    align-items: center;
    padding: 7px;
    width: 8%;
    justify-content: space-between;
}

.logo-container a:link, a:visited {
    font-size: 18px;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.logo-container a:hover {
    color: white;
} */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1B;
    height: 8%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navbar-right {
    display: flex;
    position: absolute;
    right: 4rem;
}

.menu-container {
    display: flex;
    align-items: center;
    padding: 7px;
}

.menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a:link, a:visited{
    color: rgb(228, 228, 228);
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.menu-item a:hover {
    color: white;
}

.menu-search-icon {
    color: #696B6B;
    padding: 7px;
}

.navbar-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272729;
    padding: 7px;
    border-radius: 8px;
}

.menu-item-chat {
    color: white;
    padding: 0.5rem;
}

.menu-item-chat:hover {
    background-color: #272729;
    border-radius: 5px;
}

.navbar-notification {
    color: white;
    padding: 0.5rem;
}

.navbar-notification:hover {
    background-color: #272729;
    border-radius: 5px;
}

.navbar-profile-icon {
    border: solid;
    border-color: transparent;
    border-width: thin;
}

.navbar-profile-icon:hover {
    border-color: white;
    border-width: thin;
}
.searchInput {
    border-radius: 5px;
    background-color: #272729;
    border: none;
    color: white;
    outline: none;
    width: 600px;
    height: 1rem;
    font-weight: bold;
    font-size: 1rem;
}