.crypto-container {
    color: white;
    background-color: #1A1A1B;
    height: 40vh;
    width: 20%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    right: 12%;
    bottom: 1rem;
    display: flex;
}
.crypto-card-container {
    display: flex;
    justify-content: center;
}

.crypto-card-content {
    flex:1;
}

.crypto-card {
    display: flex;
    position: relative;
    height: 60px;
    width: 100%;
    margin: 2px;
}

.crypto-content {
    display: flex;
    align-items: center;
    padding: 7px;
    margin: 0 auto;
}

.crypto-rank {
    padding: 7px;
}

.crypto-card-wrapper {
}

.crypto-card-avatar {
    flex:1;
    height: 25px;
    width: 25px;
}

.crypto-card-name {
    flex:1;
    font-size: 14px;
    font-weight: bold;
}

.crypto-price-container {
    align-items: center;

}

.crypto-price {
    font-size: 14px;
}

.crypto-change {
    font-size: 14px;
}