.news-container {
    background-color: black;
    border-radius: 10px;
}

.news-search-container {
    width: 100%;
}

.news-box {

}

.news-card {
    
}

.news-box-wrapper {
    padding: 10px;
}

.news-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.news-card {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
}


.news-title-container {
    text-align: left;
    padding: 7px;
}

.news-title {
    font-size: 14px;
    color: white;
}

.news-content {
    display: flex;
    background-color: #1A1A1B;
}

.news-content:hover {
    filter: brightness(110%);
}

.news-image-container {
}


.news-image {
    height: 80px;
    width: 80px;
    border-radius: 15px;
}

.news-provider-icon {
    display: flex;
    justify-content: flex-end;
}

.news-provider-container{
    display: flex;
    align-items: flex-end;
}

.news-timestamp-container {
    display: flex;
    white-space: nowrap;
}

.news-provider-wrapper {

}

.news-timestamp {
    color: white;
    font-size: 10px;
}
