.post-container {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 0 auto;
}

.post-wrapper {
    padding: 10px;
}

.post-top {
    display: flex;
    align-items: center;
}

.post-avatar-container {
    padding: 7px;
}

.post-avatar {
    width: 30px;
    height: 30px;
    border: 50%;
}

.post-user-name {
    padding: 7px;
}

.post-time {
    font-size: x-small;
    padding: 7px;
}

.post-middle {
    width: 100%;
}

.post-img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post-bottom {
    width: 100%;
}

.post-options {
    display: flex;
    align-items: center;
}

.post-like-btn {
    padding: 7px;
}

.post-like-counter {
    font-size: 12px;
    padding: 7px;
}

.post-comment-btn {
    padding: 5px;
}

.post-comment-counter {
    font-size: 12px;
    padding: 5px;
}