.post-container {
    margin: 0 auto;
    border-bottom: 1px solid;
}

.post-wrapper {
    padding: 1rem;
}

.post-top {
    display: flex;
}

.post-avatar-container {
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 1rem;
}

.post-time {
    color: silver;
    font-size: small;
    padding-left: 7px;
}

.post-middle {
    color: white;
    margin-left: 4rem;
    padding: 0rem 0.5rem 0.5rem 0rem;
}

.post-img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post-bottom {
    margin-left: 3.5rem;
}

.post-options {
    display: flex;
    align-items: center;
}

.post-like-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .post-like-container:hover .post-like-counter {
    color:#272729;
}

.post-like-container:hover .post-like-btn{
    border-radius: 5px;
    background-color: #272729;
} */

.post-like-btn {
    color: white;
    border:none;
    background-color: transparent;
    cursor: pointer;
    outline:none;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.post-like-btn:hover {
    background-color: #272729;
    border-radius: 5px;
}

.post-like-counter {
    color: white;
    font-size: 12px;
}

.post-comment-container {
    display: flex;
    align-items: center;
}

/* .post-comment-container:hover .post-comment-counter {
    color:#272729;
}

.post-comment-container:hover .post-comment-btn{
    border-radius: 5px;
    background-color: #272729;
} */


.post-comment-btn {
    color: white;
    border:none;
    background-color: transparent;
    cursor: pointer;
    outline:none;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.post-comment-btn:hover {
    background-color: #272729;
    border-radius: 5px;
}

.post-comment-counter {
    color: white;
    font-size: 12px;
    margin-right: 2rem;
}

.post-text {
    font-size: 18px;
}