* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

body { margin: 0; padding: 0; }


.cryptoContainer {
    width: 100%;
}

.footer {
    text-align: center;
}

.user-ui-container {
}

.homepage-watchlist {
    
}