.friendsbar-container {
    color: white;
    background-color: #1A1A1B;
    height: fit-content;
    max-height: 90vh;
    overflow-y: scroll;
    width: 200px;
    padding: 7px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: fixed;
    right: 0;
}

.friendsbar-card {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.friendsbar-card:hover {
    background-color: #272729;
    border-radius: 5px;
}

.friendsbar-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.friendsbar-name {
    font-size: 16px;
    font-weight: bold;
}